# Configuración del backend
VITE_API_URL="https://studiumserver.onrender.com/api"

# Contraseña por defecto usada al registrar nuevos usuarios desde el frontend.
VITE_DEFAULT_PASSWORD="StudiumPassword"

# Keycloak 
VITE_KEYCLOAK_URL="http://localhost:8080"
VITE_KEYCLOAK_REALM="studium"
VITE_KEYCLOAK_CLIENT_ID="studium-frontend"


# Tiempo mínimo (segundos) que debe restarle al access token antes de renovarlo.
# Si no se define, se usa 60.
VITE_KEYCLOAK_MIN_VALIDITY="60"